@mixin container-color($color) {
  .container > *,
  .container .icon > .colored {
    color: $color;
    fill: $color;
  }
}

@mixin visibility-icon($visible) {
  .icon {
    @if $visible {
      &.visible {
        display: block;
      }
      &.hidden {
        display: none;
      }
    } @else {
      &.hidden {
        display: block;
      }
      &.visible {
        display: none;
      }
    }
  }
}

@mixin node-type-icon($type) {
  .icon {
    @if ($type == 'FRAME') {
      &.frame {
        display: block;
      }
    } @else if $type == 'GROUP' {
      &.group {
        display: block;
      }
    } @else if $type == 'HORIZONTAL' {
      &.auto-layout {
        display: block;
      }
    } @else if $type == 'VERTICAL' {
      &.auto-layout {
        display: block;
        transform: rotate(90deg);
      }
    } @else if $type == 'COMPONENT' {
      &.component {
        display: block;
      }
    } @else if $type == 'INSTANCE' {
      &.instance {
        display: block;
      }
    } @else if $type == 'TEXT' {
      &.text {
        display: block;
      }
    } @else {
      &.image {
        display: block;
      }
    }
  }
}

:host {
  @include container-color(var(--gray));
  @include visibility-icon(false);
}

:host([visible='true']) {
  @include visibility-icon(true);
  @include container-color(var(--black));
}
:host([type='NODE']) {
  .content .node-type {
    display: block;
  }

  .node-type + .name {
    padding-left: 8px;
  }

  .controls {
    display: none;
  }
}

// figma node types
$nodes: 'FRAME', 'HORIZONTAL', 'HORIZONTAL', 'COMPONENT', 'INSTANCE', 'IMAGE',
  'GROUP', 'VECTOR', 'TEXT', 'ELLIPSE', 'POLYGON', 'STAR', 'LINE', 'RECTANGLE';
@each $node in $nodes {
  :host([node-type='#{$node}']) {
    @include node-type-icon($node);
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.content,
.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content {
  flex: 1;

  .node-type {
    display: none;
    width: var(--icon-size, 1rem);
    height: var(--icon-size, 1rem);
    position: relative;
    .icon {
      position: absolute;
      display: none;
    }
  }

  .name {
    font-size: 1rem;
    margin: 0;
  }
}

.controls {
  .add {
    margin-right: 12px;
  }
  .toggle {
    display: flex;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: var(--icon-size, 1rem);
    height: var(--icon-size, 1rem);
    position: relative;

    .icon {
      position: absolute;
    }
  }
}
