{
    "root": true,
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": { "project": ["./tsconfig.json"] },
    "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "rules": {
        "no-console": 1,
        "prettier/prettier": 2
    },
    "ignorePatterns": "webpack.config.js"
}