<div class="container">
  <div class="header">
    <div class="toggle">
      <svg
        class="icon arrow"
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path class="colored" d="M9 7L5.25 9.59808L5.25 4.40192L9 7Z" />
      </svg>
    </div>
    <div class="header-content">
      <slot></slot>
    </div>
  </div>
  <ul class="content"></ul>
</div>

<template id="list-item">
  <li class="item"></li>
</template>
