:root {
  font-size: 12px;
  --black: #242424;
  --gray: #c4c4c4;
  --key-color: #d2e6f5;
  --sub-color: #e9f2f9;
  --white: #ffffff;
  --icon-size: 14px;
}

html > * {
  cursor: default;
}

body,
p {
  margin: 0;
  padding: 0;
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
}
